<div class="navbar-inverse navbar-fixed-bottom">
  <div class="container" style="margin-bottom: 7px; margin-top: 7px;">
    <div class="nav navbar-collapse collapse" >
      <ul class="nav navbar-nav" style="height: 20px; text-align: center;">
        <a href="#" style="color: #ffffff;">Home</a> |
        <a href="#about" style="color: #ffffff;">About</a> |
        <a href="#contact" style="color: #ffffff;">Contact</a>
      </ul>
    </div>
  </div>
</div>
